.optics-container {
    background-color: #FFFFFF;
}

.optic-item {
    background-color: #4FB477;
}

.optic-item:hover {
    background-color: #3F6634;
}

.selected {
    background-color: #3F6634;
}