.observing-petition-optics {
    background-color: #FFFFFF;
}

.delete-optic {
    position: relative;
    top: -82px;
    right: -285px
}

.delete-object {
    position: relative;
    top: -10px;
    right: -10px;
}